<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EJS Template</title>
    <meta name="author" content="Tanishq Singh">
    <meta name="copyright" content="MIT-C-2021">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="safe for kids">
    <link rel="stylesheet" href="/css/home.css">
</head>

<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/js/home.js"></script>

</html>
